.navbar {
  overflow: hidden;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar a {
  height: max-content;
  font-size: 100px;
  float: left;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 85px 40px;
  text-decoration: none;
  z-index: 1;
}

#homebnavbar {
  height: 150pt;
}

.dropdown {
  float: right;
  overflow: hidden;
  z-index: 1;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 200px;  
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 40px 40px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  z-index: 1;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: rgb(225, 225, 225);
}

.dropdown-content {
  display: none;
  right: 0;
  position: absolute;
  background-color: rgb(225, 225, 225);
  min-width: 100%;
  box-shadow: 0px 16px 16px 0px rgba(0,0,0,0.2);
  border-radius: 10pt 0pt 10pt 10pt;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  font-size: 60px;
  font-weight: light;
    color: black;
  padding: 100px 50px;
  text-decoration: none;
  display: block;
  text-align: left;
}  

.dropdown-content a:hover {
  background-color: rgb(196, 196, 196);
  z-index: 5;
}  
  

.show {
  display:block;
}  

  #aboutDropdown {
    color: #004B87  ;
    border-style:dotted;
    border-width: 5pt;
    border-radius: 10pt;
    visibility: visible;
  }  

  #aboutnavbar {
    color: #004B87  ;
    font-size: 0px;
    visibility: hidden;
  }  

  .line-1 {
    z-index: 1;
    color:rgb(0, 0, 0);
  }  


.textbox {
  font-family:sans-serif;
}  

html,body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;}

#title {
  font-size: 10vw;
  font-weight: bolder;
  margin-left: 2rem;
  width: 100%;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  ;
  color: #226296;
}  

#undertitle {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  ;
  color: #226296;
  font-size: 10vw;
  font-weight: bolder;
  margin-left: 5%;
  width: 70%;
}  

.underlineoftitle {
  width: 90vw; 
  text-align: left;
  margin-left:10;
}  

.generaltext {
  color: #214c72;
  font-weight: lighter;
  font-size: 5vw;
  font-family: 'Exo 2', sans-serif;
  font-family: 'Julius Sans One', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 5%;
  width: 90%;
}  

#generaltextname {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif  ;
  color: #226296;
  -webkit-text-stroke: 0.7px black; /* width and color */
  font-size: 5vw;
  margin: auto; 
  margin-left: 5%;
  max-width: 80%;
}

#nameinfo {
  color: #214c72;
  font-weight: lighter;
  font-size: 5vw;
  font-family: 'Exo 2', sans-serif;
  font-family: 'Julius Sans One', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  margin-left: 5%;
  width: 90%;
  margin-top: 5vw;
}

@media (min-width: 1080px) {
  .navbar a {
    height: max-content;
    font-size: 30px;
    float: left;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
    z-index: 1;
  } 

  #homebnavbar {
    height: fit-content;
  }

  #homeicon {
    height: 40pt;
  }

  #aboutnavbar {
    color: #004B87  ;
    font-size: 30px;
    padding: 20px 30px;
    height: 30pt;
    visibility: visible;
  }  

  .dropdown .dropbtn {
    cursor: pointer;
    font-size: 40px;  
    font-stretch:ultra-expanded;
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    z-index: 1;
  }

  .dropdown-content {
    min-width: 400px;
    right: 10pt;
  }

  .dropdown-content a {
    float: none;
    font-size: 20px;
      color: black;
    padding: 30px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }  

  .dropdown-content a:hover {
    background-color: rgb(196, 196, 196);
    z-index: 5;
  }  

  .generaltext {
    font-weight: lighter;
    font-size: 1vw;
    margin-left: 2rem;
    margin-right: 0;
    width: 70%;
  }

  #homeDropdown {
    font-size: 0px;
    display: none;
  }

  #aboutDropdown {
    color: #004B87  ;
    font-size: 0px;
    display: none;
  }  

  html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;}

  #title {
    font-size: 4vw;
    font-weight: normal;
    margin-left: 2rem;
    margin-right: 0;
    width: 70%;
    -webkit-text-stroke: 0.7px black; /* width and color */
  }

  #undertitle {
    font-size: 3vw;
    font-weight: lighter;
    margin-left: 2rem;
    width: 70%;
    -webkit-text-stroke: 0.7px black; /* width and color */
  }

  .underlineoftitle {
    width: 80vw; 
    text-align: left;
    margin-left:0;
  }

  #generaltextname {
    font-size: 2vw;
    font-weight: lighter;
    margin-left: 2rem;
    width: 70%;
    -webkit-text-stroke: 0.7px black; /* width and color */
  }

  #nameinfo {
    font-weight: lighter;
    font-size: 1vw;
    margin-left: 2rem;
    margin-top: 1vw;
    width: 70%;
  }

}

